<h1><%="#{@person.first_name} #{@person.last_name}"%></h1>

<h2>Hobbies</h2>
<ul>
<% @person.hobbies.each do |hobby| %>
	<li><%= hobby.name %></li>
<%end%>
</ul>	


<h2>DirSync Associations</h2>
<ul>
<% @person.association_keys.each do |key| %>
	<li><%= key.value %></li>
<%end%>
</ul>	
