<html>

<head></head>

<body>

	<%= link_to "People", :controller=>:people %> |
	<%= link_to "Interests", :controller=>:interests %> |
	<%= link_to "Hobbies", :controller=>:hobbies %>

<hr/>
<%= yield %>



</body>
</html>