<html>

<head></head>

<body>

	<%= link_to "People", :controller=>:people %> |
	<%= link_to "Interests", :controller=>:interests %> |
	<%= link_to "Hobbies", :controller=>:hobbies %> |
	<%= link_to "RubySyncAssociations", :controller=>:ruby_sync_associations %>
	

<hr/>
<%= yield %>



</body>
</html>